<footer>
  <div class="container">
    <div class="row">
      <div class="col l4 m8 s12">
        <p>Copyright © 2020 StudentGator All rights reserved.</p>
      </div>
      <div class="col l4 m4 s12">
        <div>
          <span>Follow us : </span>
          <i class="fa fa-facebook-square fa-2x"></i>
          <i class="fa fa-twitter-square fa-2x"></i>
          <i class="fa fa-instagram fa-2x"></i>
          <i class="fa fa-linkedin-square fa-2x"></i>
          <i class="fa fa-discord fa-2x"></i>
        </div>
      </div>
      <div class="col l4 s12">
        <span>Terms & conditions</span> ||
        <span>privacy policy</span>
      </div>
    </div>
  </div>
</footer>
