h4 {
  color: rgba(0, 0, 0, 1);
  opacity: 0.6;
}

ul {
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16) !important;
  opacity: 1;
}
.card {
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  height: auto;
}
.card .card-content {
  padding: 10px;
}
section {
  margin-top: 20px;
}

span {
  color: rgba(0, 0, 0, 1);
  opacity: 0.6;
  font-size: 17px !important;
  font-weight: bold;
}
button {
  background: rgba(28, 133, 200, 1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 10px rgba(28, 133, 200, 0.2);
  border-radius: 5px;
  opacity: 1;
  margin-top: 20px !important;
}
button:hover {
  background-color: rgba(28, 133, 200, 1) !important;
}

.my-card {
  height: 1000px !important;
  overflow: scroll;
}



